<a href="https://colab.research.google.com/github/Vishalchopra07/Data-Analytics/blob/main/Functions%26string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def first():
  print("Hello World")
first()

Hello World

In [ ]:
 def add(a,b):v
  return a+b
x=add(10,20)
print(x)
y=add(30,40)
print(y)

30
70

In [ ]:
def factorial(x):
   fact=1
   for i in range(1,x+1):
      fact=fact*i
   return(fact)
factorial(5)

120

In [ ]:
sum=0
n=5768
while n>0:
 digit=n%10
 sum=digit+sum
 n=n//10
print(sum)

26

In [ ]:
def digit(n):
  sum=0
  while n>0:
    digit=n%10
    sum=sum+digit
    n=n//10
    print(digit)
digit(5678)

8
7
6
5

In [ ]:
def reverse(n):
  reverse=0
  while n>0:
    digit=n%10
    reverse=reverse*10+digit
    n=n//10
  return(reverse)
reverse(5678)

8765

In [ ]:
def fibonacci(x):
 first=0
 second=1
 print(first)
 print(second)
 for i in range(3,x+1):
  third=first+second
  print(third)
  first=second
  second=third
fibonacci(10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
def LCM(a,b):
  if a>b:
    greater=a
  else:
    greater=b
  for i in range(greater,a*b+1):
    if i%a==0 and i%b==0:
      LCM=i
      break
  print(LCM)
x=LCM(10,20)
y=LCM(25,50)

20
50

In [ ]:
#args function
def add_num(*args):
  return sum(args)
x=add_num(10,20)
y=add_num(1,2,5,8)
print(x)
print(y)

30
16

In [ ]:
def add(*args):
 sum1=0
 for i in args:
  sum1=sum1+i
 print(sum1)
add(10,20,30)

60

In [ ]:
# program for divide sum of number by 2
def add(a,b):
 return a+b
def average(num):
 return num/2
sum=add(10,20)
average=sum/2
print(average)

15.0

In [ ]:
# program for divide sum of number by 2
def add(a,b):
 return a+b
def avg(num):
 return num/2
sum=add(50,20)
average=avg(sum)
print(average)

35.0

In [ ]:
#For printing single letter of name
name="Environment"
print(name[0])
if "a" in name:
 print("available")
else:
  print("Not Available")

E
Not Available

In [ ]:
name="manthan"
print(name[-7:])

manthan

In [ ]:
#For reverse
name="Vansh"
print(name[::-1])

hsnaV

In [ ]:
#for Palindrome
number="12321"
reverse=number[::-1]
if number==reverse:
  print("Palindrome number")
else:
  print("Not Palindrome number")

Palindrome number

In [ ]:
#For palindrome and divide number
number=12344321
reverse=str(number)[::-1]
if number==int(reverse):
  print("Palindrome")
else:
  print("Not palindrome")
print(num/2)

Palindrome
6172160.5

In [ ]:
#for printing single letters
name="Vishal"
for i in name:
 print(i)

V
i
s
h
a
l

In [ ]:
#for count letters
name="Vishal"
x="V"
count=0
for char in name:
  if char==x:
    count=count+1
print(count)

1

In [ ]:
#find number which is divisible by 5 and 10 but not 15 and 20
for i in range(1,100):
  if i%5==0 and i%10==0 and i%15!=0 and i%20!=0:

   print(i)

10
50
70

In [ ]:
for i in range(40,80):
 if i%2!=0 and i%15==0 and i%25!=0:
  print(i)

45

In [ ]:

for i in range(1,150):
  sum=0
  if i%2!=0 and i%3!=0 and i%4!=0 and i%5!=0:
   sum=sum+i
   print(i)

1
7
11
13
17
19
23
29
31
37
41
43
47
49
53
59
61
67
71
73
77
79
83
89
91
97
101
103
107
109
113
119
121
127
131
133
137
139
143
149

In [ ]:
sum1 =0

for j in range(1, 25):
    if i%2==0 or j%3==0 or j%4==0 or j%5==0:
       sum1= sum1+j
result = sum - sum1
print(sum1)

325

In [ ]:
name=" Hello World"
name.strip()
name.replace(" ","")
name.replace("l","V")

' HeVVo WorVd'