<a href="https://colab.research.google.com/github/Vishalchopra07/Data-Analytics/blob/main/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,15,3):
 print(i)

1
4
7
10
13

In [ ]:
for i in range(2,100,2):
 print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
sum=0
for i in range(1,1001):
 sum=sum+i
print(sum)

500500

In [ ]:
sum=1
for i in range(1,6):
 sum=sum*i
print(sum)

120

In [ ]:
for i in range(2,10):
 print(i)

2
3
4
5
6
7
8
9

In [ ]:
sum=0
for i in range(2,10):
 sum=sum+i
print(sum)

44

In [ ]:
sum=0
for i in range(1**2,10**2):
  sum=sum+i
print(sum)

4950

In [ ]:
sum=1
for i in range(1,21):
 sum=sum*i
print(sum)

2432902008176640000

In [ ]:
sum=1
for i in range(1,6):
 sum=sum*i
print(sum)

120

In [ ]:
sum=1
for i in range(8,0,-1):
 sum=sum*i
print(sum)

40320

In [ ]:
print(56784//10)

5678

In [ ]:
n=1
while n<10:
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9

In [ ]:
sum=0
n=5324
while n>0:
 digit=n%10
 sum=sum+digit
 n=n//10
print(sum)

14

In [ ]:
sum=0
n=123456
while n>0:
  digit=n%10
  sum=sum+digit
  n=n//10
print(sum)

21

In [ ]:
n=5654
sum=0
while n>0:
  digit=n%10
  sum=sum+digit
  n=n//10
print(sum)

20

In [ ]:
fact=1
add=0
for i in range(1,11):
 fact=fact*i
 add=add+fact
print(add)

4037913

In [ ]:
fact=1
sum=0
for i in range(1,6):
 fact=fact*i
 sum=fact+sum
 print(sum)

1
3
9
33
153

In [ ]:
sum=0
n=5768
while n>0:
  digit=n%10
  sum=sum+digit**2
  n=n//10
print(sum)

174

In [ ]:
#reverse
rev=0
num=12345
while num>0:
  digit=num%10
  rev=digit+rev*10
  num=num//10
print(rev)

54321

In [ ]:
#palindrome number
sum=0
num=int(input("Enter number:"))
number=num
while num>0:
  digit=num%10
  sum=digit+sum*10
  num=num//10
print(sum)
if sum==number:
   print("It is a palindrome number")
else:
   print("It is not a palindrome number")

Enter number:12345
54321
It is not a pelindrome number

In [ ]:
#fibonacci series
first=0
second=1
print(first)
print(second)
for i in range(3,11):
  third=first+second
  first=second
  second=third
  print(third)

0
1
1
2
3
5
8
13
21
34

In [ ]:
n=23
mul=0
for i in range(2,24):
 mul=(n-1)
print(mul)

44

In [ ]:
for i in range(1,100):
 if i%2==0:
  continue
 print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
fact=1
sum=0
for i in range(1,11):
 fact=fact*i
 if i%2!=0:
  sum=fact+sum
  print(sum)

1
7
127
5167
368047

In [ ]:
sum=0
for i in range(1,19,4):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  sum=sum+fact
  print(sum)

1
121
363001
6227383801
355693655479801

In [47]:
#program for finding HCF
first=int(input("enter first number:"))
second=int(input("enter second number:"))
if first<second:
 smallest=first
else:
 smallest=second
for i in range(1,smallest+1):
  if first%i==0 and second%i==0:
    HCF=i
print("HCF",HCF)
print("LCM",first*second/HCF)

enter first number:12
enter second number:16
HCF 4
LCM 48.0

In [52]:
from re import I
#find LCM
first=int(input("enter first number:"))
second=int(input("enter second number:"))
if first>second:
  greatest=first
else:
  greatest=second
for i in range(greatest,first*second+1):
 if i%first==0 and i%second==0:
  break

print("LCM",i)

enter first number:12
enter second number:16
LCM 48