<a href="https://colab.research.google.com/github/Vishalchopra07/Data-Analytics/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# It creates data into tabular form
import pandas as pd
employee={"name":["vishal","khushi","harsh","pulkit","ashu"],
          "salary":[20000,15000,12000,10000,8000],
          "post":["DA","DS","AI","ML","DSA"]}
data=pd.DataFrame(employee)
#print(data)
print(data[["name","salary"]])

     name  salary
0  vishal   20000
1  khushi   15000
2   harsh   12000
3  pulkit   10000
4    ashu    8000

In [33]:
data=pd.read_csv("sales.csv")
#print(data)
#data.head()
#data.tail()
print(data.groupby("State")["Amount"].sum())  #State Wise Sales
print("")
print(data.groupby("Gender")["Amount"].sum()) #Gender Wise Sales
print("")
print(data.groupby("Product")["Amount"].sum()) #Product Wise Sales
print("")
print(data.groupby(["State","Product"])["Amount"].sum()) #State and Product Wise Sales

State
California    12231
Florida       13687
Illinois      10720
New York      10009
Texas          6816
Name: Amount, dtype: int64

Gender
F    23086
M    30377
Name: Amount, dtype: int64

Product
Headphones    12969
Laptop        13312
Phone         12851
Tablet        14331
Name: Amount, dtype: int64

State       Product
California  Headphones     684
            Laptop        2645
            Phone         2373
            Tablet        6529
Florida     Headphones    1306
            Laptop        3042
            Phone         4967
            Tablet        4372
Illinois    Headphones    3878
            Laptop        2369
            Phone         3350
            Tablet        1123
New York    Headphones    3253
            Laptop        4261
            Phone         1361
            Tablet        1134
Texas       Headphones    3848
            Laptop         995
            Phone          800
            Tablet        1173
Name: Amount, dtype: int64